<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895248927901-c688vqf4b7cu2bmlokd97klqmdgieor9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895248927901-c688vqf4b7cu2bmlokd97klqmdgieor9</string>
	<key>API_KEY</key>
	<string>AIzaSyArczgXcVcgSvDNqXgKBeXhY7qudqb8Kr0</string>
	<key>GCM_SENDER_ID</key>
	<string>895248927901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniproject2</string>
	<key>PROJECT_ID</key>
	<string>miniproject2-f169a</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject2-f169a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895248927901:ios:3b4467b2c6d02223229874</string>
</dict>
</plist>